/* reuseable hooks */

.text-right{
	text-align: right;
}
.container .margin-left-zero{
	margin-left: 0;
}
.container .margin-right-zero{
	margin-right: 0;
}
.margin-bottom-small{
	margin-bottom: 4px;
}
.margin-bottom-large{
	margin-bottom: 8px;
}
.orange{
	color: #ffb80c;
}

/* font styles */

.banner .headline{
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 75px;
	line-height: 61px;
}
.banner .sub-header{
	font-size: 30px;
	margin-bottom: 0;
	margin-top: 15px;
}
.pod-headline{
	color: #ffb80c;
	font-family: 'informa_medium', Arial, sans-serif;
	font-size: 24px;
}
.pod-copy{
	color: #fafafa;
	font-size: 14px;
	margin-bottom: 0;
}
.tncs{
	color: #fafafa;
	font-size: 12px;
	text-decoration: none;
}
.informa{
	font-family: 'informa_medium', Arial, sans-serif;
}
.block-reg{
	font-family: 'block_regular', sans-serif;
}

/* navigation styles */

.navigation{
	height: 16px;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-bottom: 18px;
}
.navigation a{
	font-size: 12px;
	color: #222;
}

.navigation p{
	margin: 0;
}

.navigation img{
	height: 16px;
}

/* banner styles */

.banner{
 	height: 288px;
 	position: absolute;
	display: block;
	float: none;
	left: 0;
}
.banner-background{
 	height: 288px;
 	background: url(../img/headerImg.jpg);
}
.banner-trapezium{
	border-right: 288px solid transparent;
}
.third .banner-trapezium{
	width: 33.3%;
}
.fourth .banner-trapezium{
	width: 25%;
}
.banner .text-container{
	position: absolute;
	color: #fafafa;
	/*width: 445px;*/
	width: 47%;
	max-height: 235px;
}

/* box styles */

.instruction-box{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 30px 30px 60px;
	margin-bottom: 4px;
}
.cta-box{
	background: #1e1e1e;
	padding: 30px 0 30px 0;
	position: relative;
}
.cta-wrapper{
	position: absolute;
	right: 0;
}
.full-width-container{
	background: #1e1e1e;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
.text-box{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
	background: #1e1e1e;
}


/* arcade specific */

.arcade .banner-trapezium{
	border-bottom: 288px solid rgba(0,193,255, 0.85);
}

.arcade .pod1{
	background: url(../img/arcade_pod1.jpg) left bottom no-repeat #1e1e1e;
}

.arcade .pod2{
	background: url(../img/arcade_pod2.jpg) left bottom no-repeat #1e1e1e;
}

.arcade .pod3{
	background: url(../img/arcade_pod3.jpg) left bottom no-repeat #1e1e1e;
}

.arcade .navigation{
	background: rgb(0,193,255);
	background: -moz-linear-gradient(left, rgba(0,193,255,1) 0%, rgba(72,138,202,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,193,255,1)), color-stop(100%,rgba(72,138,202,1)));
	background: -webkit-linear-gradient(left, rgba(0,193,255,1) 0%,rgba(72,138,202,1) 100%);
	background: -o-linear-gradient(left, rgba(0,193,255,1) 0%,rgba(72,138,202,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,193,255,1) 0%,rgba(72,138,202,1) 100%);
	background: linear-gradient(to right, rgba(0,193,255,1) 0%,rgba(72,138,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c1ff', endColorstr='#488aca',GradientType=1 );
}

/* Responsive */
@media only screen and (max-width: 767px) {
	.banner{
		position: static;
	}
	.container .banner-trapezium{
		border: none;
	}
	
	/* arcade specific */
	.arcade .banner{
		background: rgb(0,193,255);
	}
}


