/* reuseable hooks */

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.container .margin-left-zero{
	margin-left: 0;
}
.container .margin-right-zero{
	margin-right: 0;
}
.margin-bottom-small{
	margin-bottom: 4px;
}
.margin-bottom-large{
	margin-bottom: 8px;
}
.orange{
	color: #ffb80c;
}

/* font styles */

.banner .headline{
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 75px;
	line-height: 61px;
	display: inline-block;
}
.banner .sub-header{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 0;
	margin-top: 15px;
}
.pod-headline{
	color: #ffb80c;
	font-family: 'informa_medium', Arial, sans-serif;
	font-size: 24px;
}
.pod-copy{
	color: #fafafa;
	font-size: 14px;
	line-height: normal;
	margin-bottom: 0;
}
.tncs{
	color: #fafafa;
	font-size: 12px;
	text-decoration: none;
}
.informa{
	font-family: 'informa_medium', Arial, sans-serif;
}
.block-reg{
	font-family: 'block_regular', sans-serif;
}

/* navigation styles */

.navigation{
	height: 16px;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-bottom: 18px;
}
.navigation a{
	font-size: 12px;
	color: #fafafa;
}

.navigation p{
	margin: 0;
}

.navigation img{
	height: 16px;
}

/* banner styles */

.banner{
 	height: 288px;
 	position: absolute;
	display: block;
	float: none;
	left: 0;
}
.banner-background{
 	height: 288px;
 	background: url('../img/headerImg.jpg');
}
.banner-trapezium{
	border-right: 288px solid transparent;
}
.third .banner-trapezium{
	width: 33.3%;
}
.fourth .banner-trapezium{
	width: 25%;
}
.banner .text-container{
	position: absolute;
	color: #fafafa;
	/*width: 445px;*/
	max-height: 235px;
}
.third .text-container{
	width: 46%;
}
.fourth .text-container{
	width: 38%;
}

/* box styles */

.instruction-box{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 30px 30px 60px;
	margin-bottom: 4px;
}
.cta-box{
	background: #1e1e1e;
	padding: 30px 0 30px 0;
	position: relative;
	box-sizing: content-box;
}
.cta-wrapper{
	position: absolute;
	right: 0;
}
.full-width-container{
	background: #1e1e1e;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
.text-box{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
	background: #1e1e1e;
}

.container .instruction-box.version-2{
	background: #1e1e1e;
	padding: 30px;
}
.version-2 .pod-headline{
	color: #fafafa;
}
.version-2 .number{
	color: #0099ff;
	font-family: 'block_regular', sans-serif;
}

/* overlay styles */

.box-pad{
	height: 1px;
}
.overlay-message{
	top: 100px;
}
.overlay-message .box{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px;
	background-color: #000000;
	position: relative;
	height: 260px;
	border: 1px solid #333;
	outline: 1px solid #000;
}
.overlay-message .left{
	margin-right: 0;
}
.overlay-message .right{
	margin-left: 0;
	font-size: 15px;
	line-height: 1;
}
.popup-content{
	color: #ffffff;
}
.popup-content h2{
	font-size: 24px;
	line-height: 21px;
	margin-bottom: 30px;
}
.close-button{
	font-size: 24px;
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	cursor: pointer
}
#username{
	margin-bottom: 10px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#password{
	margin-bottom: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.forgotten-info{
	font-size: 12px;
}
.forgotten-info a{
	color: #6495ED;
}
.cta-wrapper-modal{
	position: absolute;
	right: 0;
	bottom: 10%;
}

/* arcade specific */

.arcade .pod1{
	background: url(../img/arcade_pod1.jpg) left bottom no-repeat #1e1e1e;
}

.arcade .pod2{
	background: url(../img/arcade_pod2.jpg) left bottom no-repeat #1e1e1e;
}

.arcade .pod3{
	background: url(../img/arcade_pod3.jpg) left bottom no-repeat #1e1e1e;
}

/* Responsive */
@media only screen and (max-width: 767px) {
	.banner{
		position: relative;
		height: auto;
	}
	.container .banner-trapezium{
		width: 100%;
	}
	.banner-trapezium .text-container {
		position: static;
		width: 100%;
		padding: 30px;
		max-height: none;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.banner .cta-wrapper{
		position: static;
		margin-bottom: 20px;
	}
	.container .banner-trapezium{
		border: none;
	}
	.cta-box{
		min-height: 100px;
	}
	.cta-wrapper{
		width: 100%;
	}
	.cta-wrapper a{
		width: 100%;
	}
	
	/* arcade specific */
	.arcade .banner{
		background: rgb(0,193,255);
	}
	.reponsive-break{
		display: none;
	}

	/* overlay */
	.close-button {
		top: -260px;
	}

}


