/* Owl Carousel */

.owl-wrapper{
	left: -4px;
}

.owl-item .item{
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 4px;
}
.owl-item img{
	display: block;
	width: 100%;
	height: auto;
}

.owl-item .btn{
	position: absolute;
	height: 36px;
	bottom: 5%;
	right: 0;
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/* Overlay CSS */
.overlay{
	width: 100%;
	height: 100%;
	background: #000000;
	filter: alpha(opacity=80);
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
.overlay-message{
	position: absolute;
	z-index: 10000;
}
.hide{
	display: none;
}
.modal-close.btn{
	position: absolute;
	right: 8px;
	top: 5px;
	color: black;
	background: none;
	text-decoration: none;
}
.modal-open{
	cursor: pointer;
}

/* reuseable hooks */

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.container .margin-left-zero{
	margin-left: 0;
}
.container .margin-right-zero{
	margin-right: 0;
}
.margin-bottom-small{
	margin-bottom: 4px;
}
.margin-bottom-large{
	margin-bottom: 8px;
}
.orange{
	color: #ffb80c;
}

/* font styles */

.banner .headline{
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 75px;
	line-height: 61px;
	display: inline-block;
}
.banner .sub-header{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 0;
	margin-top: 15px;
}
.pod-headline{
	color: #ffb80c;
	font-family: 'informa_medium', Arial, sans-serif;
	font-size: 24px;
}
.pod-copy{
	color: #fafafa;
	font-size: 14px;
	line-height: normal;
	margin-bottom: 0;
}
.tncs{
	color: #fafafa;
	font-size: 12px;
	text-decoration: none;
}
.informa{
	font-family: 'informa_medium', Arial, sans-serif;
}
.block-reg{
	font-family: 'block_regular', sans-serif;
}

/* navigation styles */

.navigation{
	height: 16px;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-bottom: 18px;
	opacity: 0.92;
}
.navigation a{
	font-size: 12px;
	color: #fafafa;
}

.navigation p{
	margin: 0;
}

.navigation img{
	height: 16px;
}



/* === Amends 1	header === */

body{
	margin-top: 48px;
}

.navigation{
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
	margin-bottom: 0;
}


/* banner styles */

.banner{
 	height: 288px;
 	position: absolute;
	display: block;
	float: none;
	left: 0;
}
.banner-background{
 	height: 288px;
}
.banner-trapezium{
	border-right: 288px solid transparent;
}
.third .banner-trapezium{
	width: 33.3%;
}
.fourth .banner-trapezium{
	width: 25%;
}
.banner .text-container{
	position: absolute;
	color: #fafafa;
	/*width: 445px;*/
	max-height: 235px;
}
.third .text-container{
	width: 46%;
}
.fourth .text-container{
	width: 38%;
}
.banner .cta-wrapper{
	bottom: 28.8px;
}

/* box styles */

.instruction-box{
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 30px 30px 60px;
	margin-bottom: 4px;
}
.cta-box{
	background: #1e1e1e;
	background: rgba(30,30,30,0.92);
	padding: 30px 0 30px 0;
	position: relative;
	box-sizing: content-box;
}
.cta-wrapper{
	position: absolute;
	right: 0;
}
.full-width-container{
	background: #1e1e1e;
	background: rgba(30,30,30,0.92);
}
.full-width-container .text-box{
	background: none;
}
.full-width-container .cta-box{
	background: none;
}
.text-box{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
	background: #1e1e1e;
	background: rgba(30,30,30,0.92);
}
.container .instruction-box.version-2{
	background: #1e1e1e;
	background: rgba(30,30,30,0.92);
	padding: 30px;
}
.version-2 .pod-headline{
	color: #fafafa;
}
.version-2 .number{
	color: #0099ff;
	font-family: 'block_regular', sans-serif;
}
.pod-number{
	position: absolute;
	left: 5px;
	color: white;
	font-size: 66px;
	line-height: 66px;
	bottom: 0;
	font-family: 'block_regular';
}

/* overlay styles */

.box-pad{
	height: 1px;
}
.overlay-message{
	top: 100px;
}
.overlay-message .box{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px;
	background-color: #000000;
	position: relative;
	height: 260px;
	border: 1px solid #333;
	outline: 1px solid #000;
}
.overlay-message .left{
	margin-right: 0;
}
.overlay-message .right{
	margin-left: 0;
	font-size: 15px;
	line-height: 1;
}
.popup-content{
	color: #ffffff;
}
.popup-content h2{
	font-size: 24px;
	line-height: 21px;
	margin-bottom: 30px;
}
.close-button{
	font-size: 24px;
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	cursor: pointer
}
#username{
	margin-bottom: 10px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#password{
	margin-bottom: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.forgotten-info{
	font-size: 12px;
}
.forgotten-info a{
	color: #6495ED;
}
.cta-wrapper-modal{
	position: absolute;
	right: 0;
	bottom: 10%;
}

/* Responsive */
@media only screen and (max-width: 767px) {
	.banner{
		position: relative;
		height: auto;
	}
	.container .banner-trapezium{
		width: 100%;
	}
	.banner-trapezium .text-container {
		position: static;
		width: 100%;
		padding: 30px;
		max-height: none;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.banner .cta-wrapper{
		position: static;
		margin-bottom: 20px;
	}
	.container .banner-trapezium{
		border: none;
	}
	.cta-wrapper{
		width: 100%;
	}
	.cta-wrapper a{
		width: 100%;
	}
	.reponsive-break{
		display: none;
	}

	/* overlay */
	.close-button {
		top: -260px;
	}

	/* === Amends 1 === */

	/* chevrons and ctas - this should be added to base css */
	.btn.arrows:after {
		right: auto;
		padding-left: 0.5em;
	}
	.cta-button .btn{
		margin-bottom: 16px;
	}

	/* cta positioning for it's own box */
	.cta-box{
		background: none;
		padding: 0;
		margin-top: -4px;
		margin-bottom: 12px;
	}
	.cta-wrapper{
		position: static;
		margin-top: 0 !important;

	}

	/* Temporary */
	.instruction-box .tncs{
		color: black;
	}
	.instruction-box.cta-box{
		margin-top: 4px;
	}

	/* Other */

	.container .homepage-link{
		display: none;
	}

}


/* arcade */
.arcade .navigation {
  background: #00c1ff;
  background: -moz-linear-gradient(left, #00c1ff 0%, #488aca 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00c1ff), color-stop(100%, #488aca));
  background: -webkit-linear-gradient(left, #00c1ff 0%, #488aca 100%);
  background: -o-linear-gradient(left, #00c1ff 0%, #488aca 100%);
  background: -ms-linear-gradient(left, #00c1ff 0%, #488aca 100%);
  background: linear-gradient(to right, #00c1ff 0%, #488aca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c1ff', endColorstr='#488aca',GradientType=1 );
}

.arcade .banner-trapezium {
  border-bottom: 288px solid #00c1ff;
  border-bottom: 288px solid rgba(0, 193, 255, 0.85);
}

.arcade .version-2 .number {
  color: #0099ff;
}

.arcade .pod {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/img/arcade_pod_triangle.png) left bottom no-repeat #1e1e1e;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/img/arcade_pod_triangle.png) left bottom no-repeat rgba(30, 30, 30, 0.92);
}

.arcade .brand-img {
  width: 154px;
  height: 16px;
  display: block;
  background: url(https://cache.promotions.betfair.com/media/english_uk/files/betgamecrm_353/images/logo-arcade-white.png);
  background-size: 154px 16px;
}

.arcade .banner-background {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/arcade_header.jpg);
}

/* bingo */
.bingo .navigation {
  background: #ff7c00;
  background: -moz-linear-gradient(left, #ff7c00 0%, #d24212 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff7c00), color-stop(100%, #d24212));
  background: -webkit-linear-gradient(left, #ff7c00 0%, #d24212 100%);
  background: -o-linear-gradient(left, #ff7c00 0%, #d24212 100%);
  background: -ms-linear-gradient(left, #ff7c00 0%, #d24212 100%);
  background: linear-gradient(to right, #ff7c00 0%, #d24212 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c1ff', endColorstr='#488aca',GradientType=1 );
}

.bingo .banner-trapezium {
  border-bottom: 288px solid #ff7c00;
  border-bottom: 288px solid rgba(255, 124, 0, 0.85);
}

.bingo .version-2 .number {
  color: #ff7c00;
}

.bingo .pod {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/img/bingo_pod_triangle.png) left bottom no-repeat #1e1e1e;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/img/bingo_pod_triangle.png) left bottom no-repeat rgba(30, 30, 30, 0.92);
}

.bingo .brand-img {
  width: 156px;
  height: 16px;
  display: block;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/logos/logo_bingo_black.png);
  background-size: 156px 16px;
}

.bingo .banner-background {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/bingo_header.jpg);
  background-position: right;
}

/* casino */
.casino .navigation {
  background: #ff0037;
  background: -moz-linear-gradient(left, #ff0037 0%, #800019 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff0037), color-stop(100%, #800019));
  background: -webkit-linear-gradient(left, #ff0037 0%, #800019 100%);
  background: -o-linear-gradient(left, #ff0037 0%, #800019 100%);
  background: -ms-linear-gradient(left, #ff0037 0%, #800019 100%);
  background: linear-gradient(to right, #ff0037 0%, #800019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c1ff', endColorstr='#488aca',GradientType=1 );
}

.casino .banner-trapezium {
  border-bottom: 288px solid #ff0037;
  border-bottom: 288px solid rgba(255, 0, 55, 0.85);
}

.casino .version-2 .number {
  color: #ff0037;
}

.casino .pod {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/casino_pod_triangle.png) left bottom no-repeat #1e1e1e;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/casino_pod_triangle.png) left bottom no-repeat rgba(30, 30, 30, 0.92);
}

.casino .brand-img {
  width: 156px;
  height: 16px;
  display: block;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/logos/logo_casino_black.png);
  background-size: 156px 16px;
}

.casino .banner-background {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/casino_header.jpg);
  background-position: right;
}

/* poker */
.poker .navigation {
  background: #9968cb;
  background: -moz-linear-gradient(left, #9968cb 0%, #522287 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9968cb), color-stop(100%, #522287));
  background: -webkit-linear-gradient(left, #9968cb 0%, #522287 100%);
  background: -o-linear-gradient(left, #9968cb 0%, #522287 100%);
  background: -ms-linear-gradient(left, #9968cb 0%, #522287 100%);
  background: linear-gradient(to right, #9968cb 0%, #522287 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c1ff', endColorstr='#488aca',GradientType=1 );
}

.poker .banner-trapezium {
  border-bottom: 288px solid #9968cb;
  border-bottom: 288px solid rgba(153, 104, 203, 0.85);
}

.poker .version-2 .number {
  color: #9968cb;
}

.poker .pod {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/poker_pod_triangle.png) left bottom no-repeat #1e1e1e;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/poker_pod_triangle.png) left bottom no-repeat rgba(30, 30, 30, 0.92);
}

.poker .brand-img {
  width: 156px;
  height: 16px;
  display: block;
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/logos/logo_poker_black.png);
  background-size: 156px 16px;
}

.poker .banner-background {
  background: url(https://cache.promotions.betfair.com/media/english_uk/images/master_template/poker_header.jpg);
}

@media only screen and (max-width: 767px) {
  .arcade .banner {
    background: #00c1ff;
  }

  .bingo .banner {
    background: #ff7c00;
  }

  .casino .banner {
    background: #ff0037;
  }

  .poker .banner {
    background: #9968cb;
  }
}
